In [7]:
import pandas as pd
from numpy import nan as NA

In [8]:
data = pd.DataFrame({'Fecha': ['2019-07-01', '2019-08-01','2019-09-01','2019-10-01','2019-11-01'],
                     'Tom': [1000,2000,1500,NA,NA],
                    'Pepe': [NA,1000,500,2000,500],
                    'Charlie': [500,1000,NA,NA,NA],
                    })
data=data.set_index('Fecha')
data

            Charlie    Pepe     Tom
Fecha
2019-07-01    500.0     NaN  1000.0
2019-08-01   1000.0  1000.0  2000.0
2019-09-01      NaN   500.0  1500.0
2019-10-01      NaN  2000.0     NaN
2019-11-01      NaN   500.0     NaN

In [9]:
#Cambiar el nombre de las columnas
data.rename(columns={'Tom':'Alfaro,Tomas','Pepe':'Castro, Jose','Charlie':'Mora,Carlos'})

            Mora,Carlos  Castro, Jose  Alfaro,Tomas
Fecha
2019-07-01        500.0           NaN        1000.0
2019-08-01       1000.0        1000.0        2000.0
2019-09-01          NaN         500.0        1500.0
2019-10-01          NaN        2000.0           NaN
2019-11-01          NaN         500.0           NaN