In [9]:
from numpy import nan as NA

In [10]:
import pandas as pd

In [11]:
data = pd.DataFrame({'Fecha': ['2019-07-01', '2019-08-01','2019-09-01','2019-10-01','2019-11-01'],
                     'Tom': [1000,2000,1500,NA,NA],
                    'Pepe': [NA,1000,500,2000,500],
                    'Charlie': [500,1000,NA,NA,NA],
                    })
data

   Charlie       Fecha    Pepe     Tom
0    500.0  2019-07-01     NaN  1000.0
1   1000.0  2019-08-01  1000.0  2000.0
2      NaN  2019-09-01   500.0  1500.0
3      NaN  2019-10-01  2000.0     NaN
4      NaN  2019-11-01   500.0     NaN

In [12]:
data=data.set_index('Fecha')
#data.set_index('Fecha', inplace=True)

In [13]:
#¿Cuando todos pagaron?
cleaned = data.dropna().index
cleaned

Index(['2019-08-01'], dtype='object', name='Fecha')

In [14]:
#¿Cuando pagaron al menos 2 *** HACER ESTA
a= data.dropna(thresh=2).index
a

Index(['2019-07-01', '2019-08-01', '2019-09-01'], dtype='object', name='Fecha')

In [15]:
#Total de pagos por persona
data.count()

Charlie    2
Pepe       4
Tom        3
dtype: int64

In [16]:
#.unique