In [1]:
import pandas as pd
from sqlalchemy import create_engine
#engine = create_engine('sqlite://', echo=False)
engine = create_engine('sqlite:///mydata.sqlite')

In [2]:
#engine = create_engine("mysql+mysqldb://root:pass@23.92.23.113/hola")

In [3]:
df = pd.DataFrame({'name' : ['Marilyn Brenes', 'Maia Núñez', 'Rocio Díaz']})
df

             name
0  Marilyn Brenes
1      Maia Núñez
2      Rocio Díaz

In [4]:
df.to_sql('users', con=engine, if_exists='replace',index_label='id')
engine.execute("SELECT * FROM users").fetchall()

[(0, 'Marilyn Brenes'), (1, 'Maia Núñez'), (2, 'Rocio Díaz')]

In [16]:
#Referencia: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html
#https://docs.sqlalchemy.org/en/13/core/connections.html
#https://stackoverflow.com/questions/43136121/questions-about-pandas-to-sql