In [17]:
import pandas as pd
import numpy as np

# Read dataset

In [18]:
pymarket = pd.read_csv('pymarket.csv')
pymarket.head()

        dates     Tom     Joe  Charlie
0  10/16/2016  131.10   18.78   210.34
1  10/17/2016  459.13  424.17   176.03
2  10/18/2016  338.39  376.78   334.06
3  10/19/2016  361.32  349.26   456.03
4  10/20/2016   25.39  434.77   462.00

In [19]:
pymarket['dates'] = pd.to_datetime(pymarket['dates'])
pymarket.set_index('dates',inplace=True)

### 1) How much Tom has expended in Pymarket
return a value

In [20]:
# Answer 1
pymarket['Tom'].sum()

222564.53

### 2) Total and mean of Tom and Joe expenses  
return a dataframe cols: Tom and Joe ; index: sum and mea 
in that order

In [21]:
dataf = pd.DataFrame([pymarket.mean(),pymarket.sum()],columns={'Tom','Joe'}, index={'mean', 'sum'})
dataf

                Tom           Joe
mean     244.307936     237.61557
sum   222564.530000  214566.86000

### 3) Which are the days in which the friends expensed more than $100 together

In [22]:
#just print first 5 elements

In [23]:
hund = pymarket.sort_values(by='dates', ascending=True).sum(axis=1)>100
serie_hund =pd.Series(hund.head(5).index)
serie_hund

0   2016-10-16
1   2016-10-17
2   2016-10-18
3   2016-10-19
4   2016-10-20
Name: dates, dtype: datetime64[ns]

### 4) Which are the days in which the friends didnt go to the market, any of them
return list of string of dates from oldest to newest

In [24]:
# just print 5

In [25]:
nan_rows = pymarket[pymarket.isnull().T.any()].any(1) 
nan_rows = list(nan_rows[nan_rows == False].index)
nan_rows[:5]

[Timestamp('2016-10-30 00:00:00'),
 Timestamp('2016-11-05 00:00:00'),
 Timestamp('2016-12-11 00:00:00'),
 Timestamp('2016-12-18 00:00:00'),
 Timestamp('2016-12-21 00:00:00')]

### 5) Who spent more than the others and who spent less (Whole records)
return tuple of the names (Who spend more,   Who spend less)

In [26]:
dataf = pd.DataFrame(pymarket.sum(), index ={'Tom','Joe','Charlie'},columns={'Sum'})
tup = (dataf['Sum'].idxmax(),dataf['Sum'].idxmin())
tup

('Charlie', 'Joe')

### 6) Who was the guy that visit the market more frecuently
return the name (string)

In [27]:
data_visit = pd.DataFrame(pymarket.count(), index ={'Tom','Joe','Charlie'},columns={'Count'})
str(data_visit.idxmax()[0])

'Charlie'

### 7) On average, who spends  more every bi-weekly?
return a name (str)

In [28]:
idx = pymarket.index.values
ind = pd.date_range(idx.min(),idx.max(), freq='2W')

In [29]:
bi = pd.DataFrame(pymarket,index = ind)
bi.mean().idxmax()

'Tom'

### 8) Which are the dates in which each friend spends less than $10

In [30]:
ten = (pymarket.dropna(how='all').sort_values(by='dates', ascending=True).sum(axis=1))<=10
ten =list(ten[ten == True].index)
ten

[Timestamp('2018-02-02 00:00:00'),
 Timestamp('2018-03-28 00:00:00'),
 Timestamp('2018-11-23 00:00:00')]

### 9) Create a new column called 'Tips' and calculate the total amount payed by tips for all friends
Our friends usually pay tips to the market. The value of tip is the value that rounds (ceil) the total cost by person.
Example, if Tom pays \\$8.3, then the tip will be \\$0.7  
Return a dataframe with 'Tips' column

In [31]:
import math
pymarket['Tips'] = ((pymarket['Charlie'].apply(np.ceil) - pymarket['Charlie']) 
+ (pymarket['Tom'].apply(np.ceil) - pymarket['Tom'])
+  (pymarket['Joe'].apply(np.ceil) - pymarket['Joe']))
print(pymarket)

               Tom     Joe  Charlie  Tips
dates
2016-10-16  131.10   18.78   210.34  1.78
2016-10-17  459.13  424.17   176.03  2.67
2016-10-18  338.39  376.78   334.06  1.77
2016-10-19  361.32  349.26   456.03  2.39
2016-10-20   25.39  434.77   462.00  0.84
2016-10-21  181.40   66.56   448.09  1.95
2016-10-22  348.83   65.75   277.36  1.06
2016-10-23  128.45  259.85   466.54  1.16
2016-10-24  209.89   69.28   440.32  1.51
2016-10-25  455.62  211.44   442.32  1.62
2016-10-26  153.31  375.98   242.87  0.84
2016-10-27   41.23   81.32   349.58  1.87
2016-10-28  104.30    1.17    29.83  1.70
2016-10-29  233.28  307.79   223.90  1.03
2016-10-30     NaN     NaN      NaN   NaN
2016-10-31  157.89  307.97    10.94  0.20
2016-11-01  368.54    9.53   102.79  1.14
2016-11-02   12.63  109.49   370.30  1.58
2016-11-03  274.58   26.76   184.61  1.05
2016-11-04  178.88  124.60   456.79  0.73
2016-11-05     NaN     NaN      NaN   NaN
2016-11-06  460.23  344.74   418.06  1.97
2016-11-07  403.20  285.98   233.88  0.94
2016-11-08  158.18  305.76   468.17  1.89
2016-11-09  363.91  101.18   221.77  1.14
2016-11-10  200.13  328.89    76.88  1.10
2016-11-11  428.24    2.88   182.16  1.72
2016-11-12  497.72  262.48   153.21  1.59
2016-11-13  389.42   74.77    88.80  1.01
2016-11-14   92.34  168.19   167.65  1.82
...            ...     ...      ...   ...
2019-06-13  311.78    5.26     3.52  1.44
2019-06-14  157.37  468.57    44.08  1.98
2019-06-15  195.87  222.85   161.27  1.01
2019-06-16  344.79  467.53    26.93  0.75
2019-06-17  143.22    1.32   411.28  2.18
2019-06-18   69.65  420.70   428.96  0.69
2019-06-19  398.69  163.99   276.66  0.66
2019-06-20  310.73  227.47   457.39  1.41
2019-06-21  378.81  312.96   184.83  0.40
2019-06-22   74.74  414.82   341.24  1.20
2019-06-23     NaN   99.15   377.06   NaN
2019-06-24   71.97  199.30   288.33  1.40
2019-06-25  157.27  183.28   113.49  1.96
2019-06-26   78.37   83.82    91.36  1.45
2019-06-27  215.51  394.01    57.74  1.74
2019-06-28  251.73   32.60   289.52  1.15
2019-06-29  393.24  230.69    61.20  1.87
2019-06-30  260.72   51.13   291.13  2.02
2019-07-01  294.60   34.66   238.48  1.26
2019-07-02  122.78  469.04   285.05  2.13
2019-07-03  452.16  213.34   498.00  1.50
2019-07-04  314.13   94.47   388.74  1.66
2019-07-05  382.18  207.68    17.52  1.62
2019-07-06  395.15  295.30    62.83  1.72
2019-07-07  320.64  393.05    41.22  2.09
2019-07-08  366.55  416.76    32.36  1.33
2019-07-09  418.34  418.81    75.58  1.27
2019-07-10     NaN   44.85    16.90   NaN
2019-07-11  196.39     NaN   459.70   NaN
2019-07-12  443.68  364.01   306.67  1.64

[1000 rows x 4 columns]

### 10)  Find out how much Tom and Charlie could have saved in total if the discount system were available when they started buy in Pymarket
The Pymarket  has decided to implement discounts system. Now for each purchase someone made in which spend more than $ 100, that person will receive a 7% discount  
return tuple of *ints* of the save amount of money (Tom,Charlie)

In [32]:
Tom = pymarket.filter(["Tom"])
Charlie = pymarket.filter(["Charlie"])

Tup_ahorro = (Tom[Tom['Tom'] >= 100].values.sum() * 0.07, Charlie[Charlie['Charlie'] >= 100].values.sum() * 0.07)
Tup_ahorro

(14934.0646, 15709.092000000002)