In [7]:
'''
1.Crear un dataframe
2.Quien tiene más de 1000
'''
from pandas import DataFrame
import pandas as pd
import numpy as np

data = [{'Name':'Tom', 'Edad':34, 'Teléfono':88, 'Saldo':1000},
        {'Name':'Chepe', 'Edad':30, 'Teléfono':66, 'Saldo':800},
        {'Name':'Juan', 'Edad':40, 'Teléfono':77, 'Saldo':1500}
       ]
frame = pd.DataFrame(data)
frame

   Edad   Name  Saldo  Teléfono
0    34    Tom   1000        88
1    30  Chepe    800        66
2    40   Juan   1500        77

In [14]:
frame[frame['Saldo'] > 1000]

   Edad  Name  Saldo  Teléfono
2    40  Juan   1500        77