In [9]:
#Caso práctico

In [1]:
import pandas as pd
df = pd.read_excel("https://github.com/chris1610/pbpython/blob/master/data/sample-salesv3.xlsx?raw=True")

In [2]:
df["date"] = pd.to_datetime(df['date'])
#Todo los datos son de tipo object menos los númerales

In [3]:
df.head()

,account number,name,sku,quantity,unit price,ext price,date
0,740150,Barton LLC,B1-20000,39,86.69,3380.91,2014-01-01 07:21:51
1,714466,Trantow-Barrows,S2-77896,-1,63.16,-63.16,2014-01-01 10:00:47
2,218895,Kulas Inc,B1-69924,23,90.70,2086.10,2014-01-01 13:24:58
3,307599,"Kassulke, Ondricka and Metz",S1-65481,41,21.05,863.05,2014-01-01 15:05:22
4,412290,Jerde-Hilpert,S2-34077,6,83.21,499.26,2014-01-01 23:26:55

In [4]:
df[["ext price", "quantity", "unit price"]].agg(['sum', 'mean'])

         ext price      quantity    unit price
sum   2.018784e+06  36463.000000  82511.290000
mean  1.345856e+03     24.308667     55.007527

In [5]:
df.agg({'ext price': ['sum', 'mean'], 'quantity': ['sum', 'mean'], 'unit price': ['mean']})

         ext price      quantity  unit price
mean  1.345856e+03     24.308667   55.007527
sum   2.018784e+06  36463.000000         NaN

In [14]:
get_max = lambda x: x.value_counts(dropna=False).index[0]
df.agg({'ext price': ['sum', 'mean'], 'quantity': ['sum', 'mean'], 'unit price': ['mean'], 'sku': [get_max]})
#value_count= cuántos?, retorna un set, este siempre ordena desc
#.index[-0] obtiene el último
# o utilizar el sort.value

             ext price      quantity  unit price       sku
<lambda>           NaN           NaN         NaN  S2-77896
mean      1.345856e+03     24.308667   55.007527       NaN
sum       2.018784e+06  36463.000000         NaN       NaN

In [15]:
get_max.__name__ = "most frequent"
#cambio de nombre lambda a most frecuent

In [16]:
df.agg({'ext price': ['sum', 'mean'], 'quantity': ['sum', 'mean'], 'unit price': ['mean'], 'sku': [get_max]})

                  ext price      quantity  unit price       sku
mean           1.345856e+03     24.308667   55.007527       NaN
most frequent           NaN           NaN         NaN  S2-77896
sum            2.018784e+06  36463.000000         NaN       NaN

In [17]:
#control de las columnas

In [18]:
import collections
f = collections.OrderedDict([('sku', [get_max]),('ext price', ['sum', 'mean']), ('quantity', ['sum', 'mean'])])
df.agg(f)
# Order de las columnas

                    sku     ext price      quantity
mean                NaN  1.345856e+03     24.308667
most frequent  S2-77896           NaN           NaN
sum                 NaN  2.018784e+06  36463.000000

In [19]:
#Cúal es el name que aparece más veces?
df.groupby(['name'])['name'].count().sort_values(ascending=False)

name
Kulas Inc                          94
Trantow-Barrows                    94
Jerde-Hilpert                      89
White-Trantow                      86
Barton LLC                         82
Koepp Ltd                          82
Fritsch, Russel and Anderson       81
Kiehn-Spinka                       79
Keeling LLC                        74
Will LLC                           74
Kuhn-Gusikowski                    73
Pollich LLC                        73
Stokes LLC                         72
Frami, Hills and Schmidt           72
Sanford and Sons                   71
Cronin, Oberbrunner and Spencer    67
Kassulke, Ondricka and Metz        64
Herman LLC                         62
Halvorson, Crona and Champlin      58
Purdy-Kunde                        53
Name: name, dtype: int64

In [20]:
df.groupby(['name'])['quantity'].sum().sort_values(ascending=False)
#.index[0] primer valor

name
Trantow-Barrows                    2271
Kulas Inc                          2265
White-Trantow                      2258
Fritsch, Russel and Anderson       2112
Barton LLC                         2041
Jerde-Hilpert                      1999
Frami, Hills and Schmidt           1903
Will LLC                           1828
Keeling LLC                        1806
Koepp Ltd                          1790
Stokes LLC                         1766
Kiehn-Spinka                       1756
Pollich LLC                        1707
Sanford and Sons                   1704
Cronin, Oberbrunner and Spencer    1673
Kuhn-Gusikowski                    1665
Kassulke, Ondricka and Metz        1647
Herman LLC                         1538
Purdy-Kunde                        1450
Halvorson, Crona and Champlin      1284
Name: quantity, dtype: int64

In [21]:
#4. Cada name tiene un único Acount Number
df.groupby('name')['account number'].nunique()>1

name
Barton LLC                         False
Cronin, Oberbrunner and Spencer    False
Frami, Hills and Schmidt           False
Fritsch, Russel and Anderson       False
Halvorson, Crona and Champlin      False
Herman LLC                         False
Jerde-Hilpert                      False
Kassulke, Ondricka and Metz        False
Keeling LLC                        False
Kiehn-Spinka                       False
Koepp Ltd                          False
Kuhn-Gusikowski                    False
Kulas Inc                          False
Pollich LLC                        False
Purdy-Kunde                        False
Sanford and Sons                   False
Stokes LLC                         False
Trantow-Barrows                    False
White-Trantow                      False
Will LLC                           False
Name: account number, dtype: bool