In [9]:
#Caso práctico

In [1]:
import pandas as pd
df = pd.read_excel("https://github.com/chris1610/pbpython/blob/master/data/sample-salesv3.xlsx?raw=True")

In [2]:
df["date"] = pd.to_datetime(df['date'])
#Todo los datos son de tipo object menos los númerales

In [3]:
df.head()

,account number,name,sku,quantity,unit price,ext price,date
0,740150,Barton LLC,B1-20000,39,86.69,3380.91,2014-01-01 07:21:51
1,714466,Trantow-Barrows,S2-77896,-1,63.16,-63.16,2014-01-01 10:00:47
2,218895,Kulas Inc,B1-69924,23,90.70,2086.10,2014-01-01 13:24:58
3,307599,"Kassulke, Ondricka and Metz",S1-65481,41,21.05,863.05,2014-01-01 15:05:22
4,412290,Jerde-Hilpert,S2-34077,6,83.21,499.26,2014-01-01 23:26:55

In [4]:
df.dtypes
# NaN = null números / Nat = time null

account number             int64
name                      object
sku                       object
quantity                   int64
unit price               float64
ext price                float64
date              datetime64[ns]
dtype: object

In [5]:
df.set_index('date').resample('M')["ext price"].sum()
#agruparlas por frecuencia 'M' resample('M') = último día del mes
#["ext price","colmna"]

date
2014-01-31    185361.66
2014-02-28    146211.62
2014-03-31    203921.38
2014-04-30    174574.11
2014-05-31    165418.55
2014-06-30    174089.33
2014-07-31    191662.11
2014-08-31    153778.59
2014-09-30    168443.17
2014-10-31    171495.32
2014-11-30    119961.22
2014-12-31    163867.26
Freq: M, Name: ext price, dtype: float64

In [6]:
df.set_index('date').resample('SM')["ext price","quantity"].sum()
#cada quince dias

            ext price  quantity
date
2013-12-31   64976.97      1111
2014-01-15  113215.19      2014
2014-01-31   84013.78      1612
2014-02-15   63756.91      1067
2014-02-28   92496.05      1519
2014-03-15  106734.87      1842
2014-03-31   97021.15      1828
2014-04-15   84284.25      1575
2014-04-30   68772.82      1306
2014-05-15   93169.28      1655
2014-05-31   87176.44      1545
2014-06-15   91186.25      1596
2014-06-30   91277.53      1716
2014-07-15  102172.31      1701
2014-07-31   72876.58      1461
2014-08-15   75838.49      1390
2014-08-31   79881.74      1449
2014-09-15   87962.39      1682
2014-09-30   69578.78      1216
2014-10-15  104117.73      1726
2014-10-31   58049.35      1269
2014-11-15   62442.97      1202
2014-11-30   94858.44      1605
2014-12-15   70961.42      1335
2014-12-31    1962.63        41

In [7]:
df.set_index('date').resample('D')["ext price","quantity"].sum()
#Diario
#En números se usa el bining

            ext price  quantity
date
2014-01-01    6766.16       108
2014-01-02    1551.91        19
2014-01-03    4278.96        59
2014-01-04    6044.10       115
2014-01-05    1971.94        43
2014-01-06    7711.50       104
2014-01-07      73.75         5
2014-01-08    5179.96        94
2014-01-09    1632.52        59
2014-01-10   11654.65       202
2014-01-11    3510.98        44
2014-01-12    5334.22        84
2014-01-13    4295.74        99
2014-01-14    4970.58        76
2014-01-15    2634.38        53
2014-01-16    7140.99       120
2014-01-17    5392.75       110
2014-01-18   17417.03       292
2014-01-19    6258.27       102
2014-01-20   15965.67       228
2014-01-21    6641.43       113
2014-01-22    5740.73       113
2014-01-23    4904.56        88
2014-01-24    9742.49       155
2014-01-25     957.35        41
2014-01-26    8377.04       130
2014-01-27    6680.39       173
2014-01-28    7848.55       184
2014-01-29       0.00         0
2014-01-30    7513.56       112
...               ...       ...
2014-12-02    2138.97        37
2014-12-03   11285.32       146
2014-12-04    4533.06        83
2014-12-05    4856.66        68
2014-12-06   12866.49       176
2014-12-07    5023.65       113
2014-12-08    8146.82       116
2014-12-09    8960.99       164
2014-12-10    1945.77        39
2014-12-11    3582.56       103
2014-12-12   12627.73       224
2014-12-13    8550.33       129
2014-12-14    6190.95       117
2014-12-15    1584.62        22
2014-12-16    7212.85       128
2014-12-17    1131.30        27
2014-12-18    7867.85       111
2014-12-19    7207.70       100
2014-12-20    2098.15        81
2014-12-21    3507.08        50
2014-12-22   11982.75       203
2014-12-23     476.77        14
2014-12-24    7233.56       171
2014-12-25    5141.40        86
2014-12-26    4417.93        63
2014-12-27     -22.99        -1
2014-12-28    3572.45        91
2014-12-29    2670.34        91
2014-12-30    4879.66        98
2014-12-31    1962.63        41

[365 rows x 2 columns]

In [8]:
df.set_index('date').groupby('name')["ext price"].resample("M").sum()

name                             date
Barton LLC                       2014-01-31     6177.57
                                 2014-02-28    12218.03
                                 2014-03-31     3513.53
                                 2014-04-30    11474.20
                                 2014-05-31    10220.17
                                 2014-06-30    10463.73
                                 2014-07-31     6750.48
                                 2014-08-31    17541.46
                                 2014-09-30    14053.61
                                 2014-10-31     9351.68
                                 2014-11-30     4901.14
                                 2014-12-31     2772.90
Cronin, Oberbrunner and Spencer  2014-01-31     1141.75
                                 2014-02-28    13976.26
                                 2014-03-31    11691.62
                                 2014-04-30     3685.44
                                 2014-05-31     6760.11
                                 2014-06-30     5379.67
                                 2014-07-31     6020.30
                                 2014-08-31     5399.58
                                 2014-09-30    12693.74
                                 2014-10-31     9324.37
                                 2014-11-30     6021.11
                                 2014-12-31     7640.60
Frami, Hills and Schmidt         2014-01-31     5112.34
                                 2014-02-28     4124.53
                                 2014-03-31    10397.44
                                 2014-04-30     5036.18
                                 2014-05-31     4097.87
                                 2014-06-30    13192.19
                                                 ...
Trantow-Barrows                  2014-07-31    11987.34
                                 2014-08-31    17251.65
                                 2014-09-30     6992.48
                                 2014-10-31    10064.27
                                 2014-11-30     6550.10
                                 2014-12-31    10124.23
White-Trantow                    2014-01-31    13703.77
                                 2014-02-28    11783.98
                                 2014-03-31     8583.05
                                 2014-04-30    19009.20
                                 2014-05-31     5877.29
                                 2014-06-30    14791.32
                                 2014-07-31    10242.62
                                 2014-08-31    12287.21
                                 2014-09-30     5315.16
                                 2014-10-31    19896.85
                                 2014-11-30     9544.61
                                 2014-12-31     4806.93
Will LLC                         2014-01-31    20953.87
                                 2014-02-28    13613.06
                                 2014-03-31     9838.93
                                 2014-04-30     6094.94
                                 2014-05-31    11856.95
                                 2014-06-30     2419.52
                                 2014-07-31    11017.54
                                 2014-08-31     1439.82
                                 2014-09-30     4345.99
                                 2014-10-31     7085.33
                                 2014-11-30     3210.44
                                 2014-12-31    12561.21
Name: ext price, Length: 240, dtype: float64

In [9]:
df.groupby(['name', pd.Grouper(key='date', freq='M')])['ext price'].sum()

name                             date
Barton LLC                       2014-01-31     6177.57
                                 2014-02-28    12218.03
                                 2014-03-31     3513.53
                                 2014-04-30    11474.20
                                 2014-05-31    10220.17
                                 2014-06-30    10463.73
                                 2014-07-31     6750.48
                                 2014-08-31    17541.46
                                 2014-09-30    14053.61
                                 2014-10-31     9351.68
                                 2014-11-30     4901.14
                                 2014-12-31     2772.90
Cronin, Oberbrunner and Spencer  2014-01-31     1141.75
                                 2014-02-28    13976.26
                                 2014-03-31    11691.62
                                 2014-04-30     3685.44
                                 2014-05-31     6760.11
                                 2014-06-30     5379.67
                                 2014-07-31     6020.30
                                 2014-08-31     5399.58
                                 2014-09-30    12693.74
                                 2014-10-31     9324.37
                                 2014-11-30     6021.11
                                 2014-12-31     7640.60
Frami, Hills and Schmidt         2014-01-31     5112.34
                                 2014-02-28     4124.53
                                 2014-03-31    10397.44
                                 2014-04-30     5036.18
                                 2014-05-31     4097.87
                                 2014-06-30    13192.19
                                                 ...
Trantow-Barrows                  2014-07-31    11987.34
                                 2014-08-31    17251.65
                                 2014-09-30     6992.48
                                 2014-10-31    10064.27
                                 2014-11-30     6550.10
                                 2014-12-31    10124.23
White-Trantow                    2014-01-31    13703.77
                                 2014-02-28    11783.98
                                 2014-03-31     8583.05
                                 2014-04-30    19009.20
                                 2014-05-31     5877.29
                                 2014-06-30    14791.32
                                 2014-07-31    10242.62
                                 2014-08-31    12287.21
                                 2014-09-30     5315.16
                                 2014-10-31    19896.85
                                 2014-11-30     9544.61
                                 2014-12-31     4806.93
Will LLC                         2014-01-31    20953.87
                                 2014-02-28    13613.06
                                 2014-03-31     9838.93
                                 2014-04-30     6094.94
                                 2014-05-31    11856.95
                                 2014-06-30     2419.52
                                 2014-07-31    11017.54
                                 2014-08-31     1439.82
                                 2014-09-30     4345.99
                                 2014-10-31     7085.33
                                 2014-11-30     3210.44
                                 2014-12-31    12561.21
Name: ext price, Length: 240, dtype: float64

In [10]:
df.groupby(['name', pd.Grouper(key='date', freq='M')])['ext price'].sum().loc['Barton LLC']
# Consultar por índice
# Los dt retornan set, en el caso anterior name + date (multiindex) - monto

date
2014-01-31     6177.57
2014-02-28    12218.03
2014-03-31     3513.53
2014-04-30    11474.20
2014-05-31    10220.17
2014-06-30    10463.73
2014-07-31     6750.48
2014-08-31    17541.46
2014-09-30    14053.61
2014-10-31     9351.68
2014-11-30     4901.14
2014-12-31     2772.90
Freq: M, Name: ext price, dtype: float64

In [11]:
df.groupby(['name', pd.Grouper(key='date', freq='A-DEC')])['ext price'].sum()
#Año hasta el 31/12

name                             date
Barton LLC                       2014-12-31    109438.50
Cronin, Oberbrunner and Spencer  2014-12-31     89734.55
Frami, Hills and Schmidt         2014-12-31    103569.59
Fritsch, Russel and Anderson     2014-12-31    112214.71
Halvorson, Crona and Champlin    2014-12-31     70004.36
Herman LLC                       2014-12-31     82865.00
Jerde-Hilpert                    2014-12-31    112591.43
Kassulke, Ondricka and Metz      2014-12-31     86451.07
Keeling LLC                      2014-12-31    100934.30
Kiehn-Spinka                     2014-12-31     99608.77
Koepp Ltd                        2014-12-31    103660.54
Kuhn-Gusikowski                  2014-12-31     91094.28
Kulas Inc                        2014-12-31    137351.96
Pollich LLC                      2014-12-31     87347.18
Purdy-Kunde                      2014-12-31     77898.21
Sanford and Sons                 2014-12-31     98822.98
Stokes LLC                       2014-12-31     91535.92
Trantow-Barrows                  2014-12-31    123381.38
White-Trantow                    2014-12-31    135841.99
Will LLC                         2014-12-31    104437.60
Name: ext price, dtype: float64

In [12]:
df[["ext price", "quantity", "unit price"]].agg(['sum', 'mean'])

         ext price      quantity    unit price
sum   2.018784e+06  36463.000000  82511.290000
mean  1.345856e+03     24.308667     55.007527

In [13]:
df.agg({'ext price': ['sum', 'mean'], 'quantity': ['sum', 'mean'], 'unit price': ['mean']})

         ext price      quantity  unit price
mean  1.345856e+03     24.308667   55.007527
sum   2.018784e+06  36463.000000         NaN

In [14]:
get_max = lambda x: x.value_counts(dropna=False).index[0]
df.agg({'ext price': ['sum', 'mean'], 'quantity': ['sum', 'mean'], 'unit price': ['mean'], 'sku': [get_max]})
#value_count= cuántos?, retorna un set, este siempre ordena desc
#.index[-0] obtiene el último
# o utilizar el sort.value

             ext price      quantity  unit price       sku
<lambda>           NaN           NaN         NaN  S2-77896
mean      1.345856e+03     24.308667   55.007527       NaN
sum       2.018784e+06  36463.000000         NaN       NaN

In [15]:
get_max.__name__ = "most frequent"
#cambio de nombre lambda a most frecuent

In [16]:
df.agg({'ext price': ['sum', 'mean'], 'quantity': ['sum', 'mean'], 'unit price': ['mean'], 'sku': [get_max]})

                  ext price      quantity  unit price       sku
mean           1.345856e+03     24.308667   55.007527       NaN
most frequent           NaN           NaN         NaN  S2-77896
sum            2.018784e+06  36463.000000         NaN       NaN

In [17]:
#control de las columnas

In [18]:
import collections
f = collections.OrderedDict([('sku', [get_max]),('ext price', ['sum', 'mean']), ('quantity', ['sum', 'mean'])])
df.agg(f)
# Order de las columnas

                    sku     ext price      quantity
mean                NaN  1.345856e+03     24.308667
most frequent  S2-77896           NaN           NaN
sum                 NaN  2.018784e+06  36463.000000

In [19]:
#Cúal es el name que aparece más veces?
df.groupby(['name'])['name'].count().sort_values(ascending=False)

name
Kulas Inc                          94
Trantow-Barrows                    94
Jerde-Hilpert                      89
White-Trantow                      86
Barton LLC                         82
Koepp Ltd                          82
Fritsch, Russel and Anderson       81
Kiehn-Spinka                       79
Keeling LLC                        74
Will LLC                           74
Kuhn-Gusikowski                    73
Pollich LLC                        73
Stokes LLC                         72
Frami, Hills and Schmidt           72
Sanford and Sons                   71
Cronin, Oberbrunner and Spencer    67
Kassulke, Ondricka and Metz        64
Herman LLC                         62
Halvorson, Crona and Champlin      58
Purdy-Kunde                        53
Name: name, dtype: int64

In [20]:
df.groupby(['name'])['quantity'].sum().sort_values(ascending=False)
#.index[0] primer valor

name
Trantow-Barrows                    2271
Kulas Inc                          2265
White-Trantow                      2258
Fritsch, Russel and Anderson       2112
Barton LLC                         2041
Jerde-Hilpert                      1999
Frami, Hills and Schmidt           1903
Will LLC                           1828
Keeling LLC                        1806
Koepp Ltd                          1790
Stokes LLC                         1766
Kiehn-Spinka                       1756
Pollich LLC                        1707
Sanford and Sons                   1704
Cronin, Oberbrunner and Spencer    1673
Kuhn-Gusikowski                    1665
Kassulke, Ondricka and Metz        1647
Herman LLC                         1538
Purdy-Kunde                        1450
Halvorson, Crona and Champlin      1284
Name: quantity, dtype: int64

In [21]:
#4. Cada name tiene un único Acount Number
df.groupby('name')['account number'].nunique()>1

name
Barton LLC                         False
Cronin, Oberbrunner and Spencer    False
Frami, Hills and Schmidt           False
Fritsch, Russel and Anderson       False
Halvorson, Crona and Champlin      False
Herman LLC                         False
Jerde-Hilpert                      False
Kassulke, Ondricka and Metz        False
Keeling LLC                        False
Kiehn-Spinka                       False
Koepp Ltd                          False
Kuhn-Gusikowski                    False
Kulas Inc                          False
Pollich LLC                        False
Purdy-Kunde                        False
Sanford and Sons                   False
Stokes LLC                         False
Trantow-Barrows                    False
White-Trantow                      False
Will LLC                           False
Name: account number, dtype: bool