In [1]:
#1.Crear dataframe con fechas del 7/1 al 7/20 en minutos, crear columna de datos con números aleatorios enteros del 0 al 9

In [15]:
import pandas as pd
from datetime import datetime
import numpy as np
date_rng = pd.date_range(start='1/7/2018', end='20/7/2018', freq='min')

In [16]:
date_rng

DatetimeIndex(['2018-01-07 00:00:00', '2018-01-07 00:01:00',
               '2018-01-07 00:02:00', '2018-01-07 00:03:00',
               '2018-01-07 00:04:00', '2018-01-07 00:05:00',
               '2018-01-07 00:06:00', '2018-01-07 00:07:00',
               '2018-01-07 00:08:00', '2018-01-07 00:09:00',
               ...
               '2018-07-19 23:51:00', '2018-07-19 23:52:00',
               '2018-07-19 23:53:00', '2018-07-19 23:54:00',
               '2018-07-19 23:55:00', '2018-07-19 23:56:00',
               '2018-07-19 23:57:00', '2018-07-19 23:58:00',
               '2018-07-19 23:59:00', '2018-07-20 00:00:00'],
              dtype='datetime64[ns]', length=279361, freq='T')

In [17]:
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0,9,size=(len(date_rng)))
df.head(20)

                  date  data
0  2018-01-07 00:00:00     4
1  2018-01-07 00:01:00     8
2  2018-01-07 00:02:00     3
3  2018-01-07 00:03:00     6
4  2018-01-07 00:04:00     0
5  2018-01-07 00:05:00     0
6  2018-01-07 00:06:00     8
7  2018-01-07 00:07:00     7
8  2018-01-07 00:08:00     3
9  2018-01-07 00:09:00     7
10 2018-01-07 00:10:00     1
11 2018-01-07 00:11:00     2
12 2018-01-07 00:12:00     4
13 2018-01-07 00:13:00     3
14 2018-01-07 00:14:00     3
15 2018-01-07 00:15:00     2
16 2018-01-07 00:16:00     6
17 2018-01-07 00:17:00     3
18 2018-01-07 00:18:00     8
19 2018-01-07 00:19:00     1

In [18]:
#2.Poner la fecha como índice
#3. Asegurarse que es datetime

In [19]:
df['datetime'] = pd.to_datetime(df['date'])
df = df.set_index('datetime')
df.drop(['date'], axis=1, inplace=True)
df.head()

                     data
datetime
2018-01-07 00:00:00     4
2018-01-07 00:01:00     8
2018-01-07 00:02:00     3
2018-01-07 00:03:00     6
2018-01-07 00:04:00     0

In [20]:
type(df.index)

pandas.tseries.index.DatetimeIndex

In [21]:
#4. Aplicar rolling sum de 2 en 2

In [22]:
df['rolling_sum'] = df.rolling(2).sum()
df.head(10)

                     data  rolling_sum
datetime
2018-01-07 00:00:00     4          NaN
2018-01-07 00:01:00     8         12.0
2018-01-07 00:02:00     3         11.0
2018-01-07 00:03:00     6          9.0
2018-01-07 00:04:00     0          6.0
2018-01-07 00:05:00     0          0.0
2018-01-07 00:06:00     8          8.0
2018-01-07 00:07:00     7         15.0
2018-01-07 00:08:00     3         10.0
2018-01-07 00:09:00     7         10.0

In [23]:
#rango de fechas 7/10 al 7/11 anular los datos

In [24]:
#a= 
#df['2018-07-10 00:00:00':'2018-07-11 23:59:59']= df['2018-07-10 00:00:00':'2018-07-11 23:59:59'].replace(df['2018-07-10 00:00:00':'2018-07-11 23:59:59'],np.nan)
#df
#a = a.replace(a['data'],np.nan)
#a

In [25]:

df['2018-07-10 00:00:00':'2018-07-11 23:59:59']=np.nan
df

                     data  rolling_sum
datetime
2018-01-07 00:00:00   4.0          NaN
2018-01-07 00:01:00   8.0         12.0
2018-01-07 00:02:00   3.0         11.0
2018-01-07 00:03:00   6.0          9.0
2018-01-07 00:04:00   0.0          6.0
2018-01-07 00:05:00   0.0          0.0
2018-01-07 00:06:00   8.0          8.0
2018-01-07 00:07:00   7.0         15.0
2018-01-07 00:08:00   3.0         10.0
2018-01-07 00:09:00   7.0         10.0
2018-01-07 00:10:00   1.0          8.0
2018-01-07 00:11:00   2.0          3.0
2018-01-07 00:12:00   4.0          6.0
2018-01-07 00:13:00   3.0          7.0
2018-01-07 00:14:00   3.0          6.0
2018-01-07 00:15:00   2.0          5.0
2018-01-07 00:16:00   6.0          8.0
2018-01-07 00:17:00   3.0          9.0
2018-01-07 00:18:00   8.0         11.0
2018-01-07 00:19:00   1.0          9.0
2018-01-07 00:20:00   5.0          6.0
2018-01-07 00:21:00   7.0         12.0
2018-01-07 00:22:00   4.0         11.0
2018-01-07 00:23:00   3.0          7.0
2018-01-07 00:24:00   1.0          4.0
2018-01-07 00:25:00   2.0          3.0
2018-01-07 00:26:00   1.0          3.0
2018-01-07 00:27:00   8.0          9.0
2018-01-07 00:28:00   4.0         12.0
2018-01-07 00:29:00   2.0          6.0
...                   ...          ...
2018-07-19 23:31:00   3.0          8.0
2018-07-19 23:32:00   0.0          3.0
2018-07-19 23:33:00   4.0          4.0
2018-07-19 23:34:00   8.0         12.0
2018-07-19 23:35:00   4.0         12.0
2018-07-19 23:36:00   7.0         11.0
2018-07-19 23:37:00   4.0         11.0
2018-07-19 23:38:00   4.0          8.0
2018-07-19 23:39:00   2.0          6.0
2018-07-19 23:40:00   2.0          4.0
2018-07-19 23:41:00   8.0         10.0
2018-07-19 23:42:00   3.0         11.0
2018-07-19 23:43:00   3.0          6.0
2018-07-19 23:44:00   2.0          5.0
2018-07-19 23:45:00   3.0          5.0
2018-07-19 23:46:00   6.0          9.0
2018-07-19 23:47:00   5.0         11.0
2018-07-19 23:48:00   3.0          8.0
2018-07-19 23:49:00   6.0          9.0
2018-07-19 23:50:00   1.0          7.0
2018-07-19 23:51:00   7.0          8.0
2018-07-19 23:52:00   7.0         14.0
2018-07-19 23:53:00   8.0         15.0
2018-07-19 23:54:00   8.0         16.0
2018-07-19 23:55:00   7.0         15.0
2018-07-19 23:56:00   1.0          8.0
2018-07-19 23:57:00   4.0          5.0
2018-07-19 23:58:00   2.0          6.0
2018-07-19 23:59:00   1.0          3.0
2018-07-20 00:00:00   0.0          1.0

[279361 rows x 2 columns]

In [26]:
#https://realpython.com/python-data-visualization-bokeh/

In [27]:
nullos = np.empty((1,df['2018-07-10 00:00:00':'2018-07-11 23:59:59'].size))
nullos[:] = np.nan

df = pd.DataFrame(nullos)
df

,0,1,2,3,4,5,6,7,8,9,...,5750,5751,5752,5753,5754,5755,5756,5757,5758,5759
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN